{
  "root": true,
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "plugins": ["react", "prettier", "react-hooks", "jest"],
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "eqeqeq": ["error", "allow-null"],
    "function-paren-newline": "off",
    "global-require": "off",
    "key-spacing": "off",
    "max-len": "off",
    "no-console": "off",
    "no-labels": "off",
    "no-multi-spaces": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "object-curly-spacing": "off",
    "padded-blocks": "off",
    "prettier/prettier": "error",
    "quote-props": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-bind": [
      2,
      {
        "ignoreDOMComponents": false,
        "ignoreRefs": false,
        "allowArrowFunctions": false,
        "allowFunctions": false,
        "allowBind": false
      }
    ],
    "react/no-multi-comp": "off",
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "yoda": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".js"] }
    }
  },
  "env": {
    "jest/globals": true
  }
}
